<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Handjet&display=swap&subset=cyrillic&noto.script=Cyrl">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap&subset=cyrillic&noto.script=Cyrl" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
    $(document).ready(function() {
    $("body").css("opacity", "1");
    $(".h1-animated").css("transform", "translateX(0)")
    });
    </script>


</head>
<body style="opacity:0; transition: 0.8s;">
{% block content %}
{% block menu %}
<ul class="menu">
    {% for m in menu %}
    <li>
        <a href="{{ m.url }}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
<div class="content">
    <h1 class="h1-animated" style="transform: translateX(-100%); transition: transform 1s;"> {{ title }}</h1>

    {% endblock %}
</div>
</body>
</html>