body {
    background: rgba(248, 223, 244, 0.682);
    margin: 0;
    padding: 5px;
    max-width: 100%;
    background: url(https://images.unsplash.com/photo-1485841890310-6a055c88698a?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center fixed;
    background-size: cover;
    cursor: pointer;
    height: 100vh;
    margin: 0;
}



.academytop {
    position: absolute;
    top: 23%;
    left: 59%;
}

.academytop img {
    width: 40%;
    height: auto;
    border: 1px solid rgba(113, 111, 111, 0.16);
    border-radius: 35px;
    opacity: 0.8;
}

h1 {
    color: rgba(63, 8, 56, 0.34);
    font-family: 'Yeseva One', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 2.1rem;
}

.menu a {
    color: rgba(243, 243, 237, 1);
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 2px 1px 5px 3px rgba(154, 152, 154, 0.556);
    border-radius: 0.3rem;
    transition: color 0.3s linear;
}

.menu a:hover {
    color: #f7fe00;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgba(255, 105, 180, 0.44);
    box-shadow: 2px 2px 11px -3px rgba(67, 67, 67, 0.888);
    padding: 20px;
    border-radius: 1.4rem;
    margin-top: 0%;
}

h2 {
    color: rgb(113, 111, 111);
    width: 40%;
    font-family: 'Handjet', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    width: 650px;
    white-space: normal;
}

.content {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.person_G {
    color: rgba(47, 118, 229, 0.8);
}

.person_E{
    color: rgba(243, 42, 202, 0.8);
}

.flash{
    position: absolute;
    left: 440px;
    top: 270px;
    font-size: 1.3rem;
}

.flash.success{
    position: absolute;
    left: 440px;
    top: 270px;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    background: rgba(53, 187, 40, 0.37);
    border: 4px solid rgba(96, 182, 5, 0.1);
    letter-spacing: 3px;
    border-radius: 0.1em;
}

.flash.error{
    position: absolute;
    left: 411px;
    top: 270px;
    font-size: 1.8rem;
    color: white;
    background: rgba(229, 12, 18, 0.57);
    border: 4px solid rgba(148, 146, 148, 0.2);
    border-radius: 0.1em;
    letter-spacing: 3px;
}

.scrolling{
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    max-height: 300px;
    border: 4px solid rgba(63, 8, 56, 0.13);
    box-shadow: 2px 1px 5px 3px rgba(154, 152, 154, 0.556);
    border-radius: 11px;

}

li>p{
    border: 4px solid rgba(206, 203, 203, 0.14);
    padding: 10px 20px;
    border-radius: 0.8em;
}

li div{
    padding: 10px 20px;
    border: 3px solid rgba(206, 203, 203, 0.43);

}

p.title{
    margin: 0;
    font-weight: bold;
    background: rgba(255, 105, 180, 0.25);
    border-radius: 1em;
    padding: 1px;
}

p.title a{
    display: block;
}

.anonce {
    margin-top: -1px;
    margin-bottom: 40px;
    background: rgba(63, 8, 56, 0.24);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    transition: color linear 0.4s;
}

textarea {
    border: 3px solid rgba(63, 8, 56, 0.09);
    background: rgba(255, 182, 193, 0.17);
    color: rgb(90, 6, 141);
    width: 400px;
    height: 118px;
    resize: none;
}

p input[type="submit"]{
    background: rgba(63, 8, 56, 0.34);
    color: rgba(255, 255, 255, 0.938);
    border-radius: 0.3rem;
    font-size: 1.6em;
    font-family: monospace;
    border: 1px solid color(display-p3 0.941 0.957 0.961);
    transition: background-color 0.3s linear, color 0.3s ease,transform 0.3s ease-in-out;
}

p input[type="submit"]:hover {
    background: rgba(255, 105, 180, 0.72);
    color: yellow;
    transform: scale(0.97);
}

p > input {
    display: block;
    border-radius: 0.7em;
    border: 2px solid rgba(63, 8, 56, 0.14);
    background: rgba(255, 182, 193, 0.27);
}

.a_menu {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: lighter;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 2px;
    transition: background-color 0.3s linear;
    margin: 0;
    transition: background-color 0.3s linear, transform 0.3s ease-in-out;
}

.a_menu:hover{
    background: lightpink;
    color: #ffff02;
    border-radius: 7px;
    transform: scale(1.01);
}

.page_post{
    color: rgba(21, 1, 17, 0.96);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    max-height: 600px;
    overflow-y: auto;
    border: 3px outset rgba(63, 8, 56, 0.09);
    border-radius: 11px;
    margin-top: -25px;
    background: rgba(255, 182, 193, 0.23);
}

.iput{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1em;
    color: rgb(124, 122, 122);
    letter-spacing: 3px;
}

.flamingo{
    position: absolute;
    top: 20%;
    left: 60%;
}

.flamingo img{
    width: 66%;
    height: auto;
    border-radius: 100px;
    opacity: 0.7;
    border: 4px solid rgba(255, 255, 255, 0.32);
    transform: scaleX(-1);
}

.delete .button{
    font-size: 1.3em;
    background: rgba(250, 2, 6, 0.82);
    font-family: monospace;
    color: #ffffff;
    margin: 10px;
    width: 100px;
    height: 35px;
    border-radius: 0.7em;
    border: 1px solid #ffffff;
    transition: background-color linear 0.3s,transform 0.3s ease-in-out;
}

.delete .button:hover{
    background-color: #ff0004;
    transform: scale(0.9);
}